<h2><%= link_to 'Find by article title',articles_findbytitle_path %>
<h2><%= link_to 'Find by user name',articles_findbyuser_path %>


<br>
<br>
<h2><%= link_to 'Back to home page!',users_index_path %></h2>